[data-tab-content]:not(.map-container) {
  display:none;
}

.active[data-tab-content] {
  display: block;
}

.background {
  background-color: #3e4444;
}

.custom-font {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #60cd4d;
}

.custom-font2 {
  font-family: Arial, sans-serif;
  color: #82b74b;
}

body {
  padding: 0;
  margin: 0;
}

.image-container {
  margin-left: 20px; /* Adjust the margin as needed */
  align-items: center;
}

.image-container img {
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  
}

.writing-box img {
  margin-left: auto; /* Move the image to the right */
  margin-right: auto; /* Move the image to the left */
  display: block; /* Ensure the image is centered */
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  background-color: #82b74b;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab-active {
  background-color: #CCC
}

.tab:hover {
  background-color: #9fcd96;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

.map-container[data-tab-content] {
  display: block !important; /* or any other appropriate display value */
}

#map1 {
  border: 2px solid blue; /* Adjust width, style, and color as desired */
  margin-top: 20px;
  /* height: 100%; */
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  cursor: grab;
  background: #ddd;
  outline-offset: 1px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  max-width: 100%;
  max-height: 100%;
  touch-action: none;
  width: 600px;
  height: 400px;
  position: relative;
  outline-style: none;
}

#map2 {
  border: 2px solid blue; /* Adjust width, style, and color as desired */
  margin-top: 20px;
}


#graph1 {
  border: 2px solid blue; /* Adjust width, style, and color as desired */
  margin-top: 20px;
}

#graph2 {
  border: 2px solid blue; /* Adjust width, style, and color as desired */
  margin-top: 20px;
}

.writing-box {
  background-color: #70bc62; /* Lighter shade of green */
  color: #fff; /* Light background color */
  border: 4px solid #60cd4d;
  border-bottom: 2px solid #ccc; /* Darker accent on bottom border */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px; /* Add some space between boxes */
  margin-top: 20px;
  flex: 1;
}

/* Remove the default margin and padding from the body. */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
}

.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 20px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}
/* ------------------------------------------------------
Comment section */


.container2 {
  background:#fff;
  padding: 20px;
  font-family: monospace;
  width: 900px;
  box-shadow: 0 0 5px #000; 
  margin: 0 auto;
  margin-top: 10px;
}

.head {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text {
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 0.9cm;
}

.commentbox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.commentbox > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}

.content {
  width: 100%;
}

.user {
  border: none;
  outline: none;
  margin: 5px 0;
  color: #db2020;
  margin-left: 20px;
  padding: 10px;
}

.commentinput > input {
  border: none;
  padding: 10px;
  padding-left: 0;
  outline: none;
  border-bottom: 2px solid blue;
  margin-bottom: 10px;
  width: 95%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2c944b;
}

.buttons button {
  padding: 5px 10px;
  background: lightgray;
  color: #808080;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.buttons button.abled {
  background: blue;
  color: #fff
}


.notify {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.notify > input {
  margin-right: 5px;
}

.parents {
  font-family: Arial, sans-serif;
  display: flex;
  margin-bottom: 30px;
}

.parents h1 {
  font-size: 0.4cm;
}

.parents p {
  margin: 10px 0;
  font-size: 0.4cm;
}

.parents > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}

.engagements {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.engagements img {
  width: 20px;
}

.engagements img:nth-child(1) {
  margin-right: 10px;
  width: 25px;
}

.date {
  color: #808080;
  font-size: 0.4cm;
}
